body {
  background-color: #383D3F;
  color: #000;
  font-family: sans-serif;
  font-size: 0.9em;
  padding: 2em;
}
a, a:visited {
  color: #556DC7;
  font-weight: bolder;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
section {
  padding: 1em 1em 1em 1em;
  background-color: #FFF;
  color: #000;
  max-width: 80em;
  margin: auto;
  box-shadow: 0.3em 0.3em 0.3em black;
}
fieldset {
  border: none;
  padding: 0;
}
fieldset input[type=text] {
  width: 70%;
  margin: 0;
  border: 1px solid #333;
}
fieldset button {
  width: 29%;
  margin: 0;
}
#options {
  font-size: 0.6em;
  padding: 1em;
  line-height: 0.8em;
  vertical-align: middle;
}
#options input {
  height: 0.6em;
}
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #333;
  background-color: #CCC;
  padding: 1em;
  min-height: 20em;
}

#message {
  border: 1px solid #F00;
  background-color: #F99;
  padding: 1em;
  margin: 1em;
}



